/*
  Global
*/

img,
svg {
  vertical-align: middle;
}

:root {
  --color-background-0: hsla(350, 0%, 100%, 1);
  --color-background-1: hsla(350, 0%, 90%, 1);
  --color-background-2: hsla(350, 0%, 81%, 1);
  --color-background-3: hsla(350, 0%, 73%, 1);
  --color-foreground-1: hsla(350, 0%, 0%, 0.9);
  --color-foreground-2: hsla(350, 0%, 0%, 0.81);
  --color-foreground-3: hsla(350, 0%, 0%, 0.73);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-0: hsla(350, 0%, 0%, 1);
    --color-background-1: hsla(350, 0%, 10%, 1);
    --color-background-2: hsla(350, 0%, 19%, 1);
    --color-background-3: hsla(350, 0%, 27%, 1);
    --color-foreground-1: hsla(350, 0%, 100%, 0.9);
    --color-foreground-2: hsla(350, 0%, 100%, 0.81);
    --color-foreground-3: hsla(350, 0%, 100%, 0.73);
  }
}

:root {
  --unit: 8px;
  --spacing-1: calc(var(--unit) * 1);
  --spacing-2: calc(var(--unit) * 2);
  --spacing-3: calc(var(--unit) * 3);
  --spacing-5: calc(var(--unit) * 5);

  --color-body-background: var(--color-background-1);
  --color-list-background: var(--color-background-2);
  --color-button-background: var(--color-background-2);
  --color-button-background-focus: var(--color-background-3);
  --color-text-field-background: var(--color-background-0);
  --color-border: var(--color-background-3);

  --color-text-main: var(--color-foreground-1);
}

/*
  Component
*/

body {
  background: var(--color-body-background);
  color: var(--color-text-main);
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  background: var(--color-button-background);
  font-weight: bold;
  color: var(--color-black);
  transition: background 0.25s 0s ease;
}

button:focus,
button:hover {
  background: var(--color-button-background-focus);
}

.muted {
  opacity: 0.3;
}

input {
  border: 1px solid var(--color-border);
  background: var(--color-text-field-background);
  color: var(--color-text-main);
}

input:disabled {
  opacity: 0.3;
}

textarea {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid var(--color-border);
  background: var(--color-text-field-background);
  color: var(--color-text-main);
}

/*
  Project
*/

.columns {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  scroll-snap-type: x proximity;
}

.column {
  width: calc(var(--unit) * 30);
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
}

.timer {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-1);
  height: 100%;
}

.timer__header {
  flex-shrink: 0;
  padding: var(--spacing-1);
}

.timer__volume {
  flex-shrink: 0;
  padding: var(--spacing-1);
}

.timer__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timer__list-wrapper {
  position: relative;
  flex-grow: 1;
  min-height: calc(var(--unit) * 12);
  padding: var(--spacing-1);
  overflow: auto;
}

.timer__list {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.timer__list-actions {
  position: absolute;
  top: var(--spacing-1);
  right: var(--spacing-1);
  display: none;
}

.timer__list-wrapper:hover .timer__list-actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: var(--spacing-1);
}

.timer__button-wrapper {
  flex-shrink: 0;
  padding: var(--spacing-1);
}

.timer__button-separator {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1px;
}

.timer-header {
  display: flex;
  align-items: flex-end;
}

.timer-header__title {
  margin-left: var(--spacing-1);
}

.timer-textarea-wrapper {
  padding: var(--spacing-1);
  height: 100%;
  min-height: calc(var(--unit) * 12);
}

.timer-textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.timer-form-button-wrapper {
  padding: var(--spacing-1);
}

.timer-button {
  width: 100%;
}

.dialog {
  position: relative;
  display: grid;
  place-items: center;
  padding: var(--spacing-3);
  min-width: 30vw;
  min-height: 30vh;
  color: var(--color-text-main);
}

.dialog__close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.dialog__button {
  width: 100%;
  padding: var(--spacing-2);
}
